@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

p {
   color: black;
   font-size: 1.4rem;
   font-weight: 300;
   margin-top: 5px;
   letter-spacing: 0.05rem;
   line-height: 2.5rem;
}

.brand {
   font-size: 2rem;
   text-transform: uppercase;
   color: white;

}

.brand span {
   color: crimson;
}

.cta {
   padding: 10px 30px;
   font-size: 2rem;
   display: inline-block;
   color: white;
   font-weight: bold;
   border: 2px solid crimson;
   margin-top: 30px;
   text-transform: uppercase;
   letter-spacing: .1rem;
   background-color: transparent;
   transition: 0.4s ease;
}

.cta:hover {
   color: white;
   background-color: crimson;
}

.section-title {
   font-size: 4rem;
   font-weight: 300;
   text-align: center;
   color:  black;
   margin-bottom: 10px;
   letter-spacing: 0.2rem;
   text-transform: uppercase;
}

.section-title span{
   color: crimson;
}
/* Hero Section */
#hero {
    background-image: url(./img/hero-bg.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
 #hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
 }

 #hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
 }

 #hero h1:nth-child(1) {
    animation-delay: 1s;
 }

 #hero h1:nth-child(2) {
    animation-delay: 2s;
 }

 #hero h1:nth-child(3) {
   animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
 }

 #hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    color: transparent;
    position: relative;
    animation: text_reveal 1s ease forwards;
    animation-delay: 1.5s;
 }

 #hero h1 span {
    color: crimson;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
 }

 #hero h1:nth-child(1) span {
    animation-delay: .5s;
    
 }

 #hero h1:nth-child(2) span {
    animation-delay: 1.5s;
    
 }

 #hero h1:nth-child(3) span {
    animation-delay: 2.5s;
   
    
 }



/* End Hero Section */

/* Services Section */

#services .service {
   flex-direction: column;
   text-align: center;
   padding: 100px 0;
   margin: 0 auto;
   max-width: 1500px;

}

#services .service-bottom {
   display: flex;
   text-align: center;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 50px;
}

#services .service-item {
   flex-basis: 80%;
   flex-direction: column;
   align-items: flex-start;
   display: flex;
   justify-content: center;
   padding: 30px;
   margin: 10px 5%;
   background-image: url(./img/img-1.jpg);
   background-size: cover;
   position: relative;
   z-index: 1;
   overflow: hidden;
   border-radius: 10px;
}

#services .service-item::after{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.6;
   background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#services .service-bottom .icon {
   height: 80px;
   width: 80px;
   margin-bottom: 20px;
}

#services .service-bottom h2 {
   font-size: 2rem;
   color: white;
   text-transform: uppercase;
   margin-bottom: 10px;
}

#services .service-item p{
   color: white;
   text-align: left;
   font-weight: 300;
   line-height: 2rem;
}
/* End Services Section */


/* Projects Section */
#projects .projects {
   flex-direction: column;
   max-width: 1200px;
   margin: 0 auto;
   padding: 100px 0;
}

#projects .projects-header h1 {
   margin-bottom: 50px;
}

#projects .all-projects {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

#projects .project-item {
   display: flex;
   margin: 20px auto;
   flex-direction: column;
   width: 80%;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   border-radius: 10px;
}

#projects .project-info {
   flex-basis: 50%;
   display: flex;
   flex-direction: column;
   height: 100%;
   align-items: flex-start;
   justify-content: center;
   color: white;
   background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
   padding: 30px;
}

#projects .project-info h1 {
   font-size: 4rem;
   font-weight: 500;
}

#projects .project-info h2 {
   font-size: 1.4rem;
   font-weight: 500;
   margin-top: 10px;
}

#projects .project-info p {
   color: white;
}

#projects .project-img {
max-height: 300px;
flex-basis: 50%;
overflow: hidden;
position: relative;
}

#projects .project-img::after {
   position: absolute;
   top: 0;
   left: 0;
   content: '';
   background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
   width: 100%;
   height: 100%;
   opacity: 0.5;
}

#projects .project-img img {
   transition: .5s ease transform;
}

#projects .project-item:hover .project-img img {
   transform: scale(1.1);

}


/* End Projects Section */

/* About Section */
#about .about {
   display: flex;
   flex-direction:column-reverse;
   max-width: 1200px;
   padding: 100px 20px;
   margin: 0 auto;
   text-align: center;
}

#about .col-left {
   width: 250px;
   height: 360px;
}

#about .col-right {
   width: 100%;
}

#about .col-right h2 {
   font-size: 1.8rem;
   letter-spacing: .2;
   font-weight: 700;
   margin-bottom: 10px;
}

#about .col-right p {
   margin-bottom: 20px;
}

#about .col-right .cta {
   color: black;
   margin-bottom: 50px;
   padding: 10px 20px;
   font-size: 2rem;

}

#about .col-right .cta:hover {
   color: white;
}

#about .col-left .about-img {
   position: relative;
   border: solid 10px white;
   height: 100%;
   width: 100%;
}

#about .col-left .about-img::after {
   content: '';
   top: 19px;
   left: -33px;
   position: absolute;
   height: 98%;
   width: 98%;
   border: solid 7px crimson;
   z-index: -1;
}
/* End About Section */

/* Contact Section */
#contact .contact {
   flex-direction: column;
   max-width: 1200px;
   margin: 0 auto;
}

#contact .contact-items {
width: 400px;
margin-left: 70px;
}

#contact .contact-item {
   display: flex;
   flex-direction: column;
   width: 80%;
   align-items: center;
   justify-content: center;
   padding: 30px;
   margin: 30px;
   box-shadow: 0px 0px 18px 0px #0000002c;
   transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
   box-shadow: 0px 0px 5px 0px #0000002c;

}

#contact .contact-icon {
   width: 70px;
   margin: 0 auto;
   margin-bottom: 10px;
}

#contact .contact-info h1 {
   font-size: 2.5rem;
   font-weight: 500;
   margin-bottom: 5px;
}

#contact .contact-info h2 {
   font-size: 1.4rem;
   font-weight: 500;
}


/* End Contact Section */

/* Footer Section */

#footer {
   background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
   flex-direction: column;
   min-height: 200px;
   padding: 50px 0 10px 0px;
}

#footer h2 {
   font-size: 1.8rem;
   letter-spacing: .1rem;
   color: white;
   font-weight: 500;
   margin: 10px 0px 10px 0;
}

#footer .footer .social-icons{
display: flex;
margin-bottom: 30px;
}

#footer .social-item {
   width: 50px;
   height: 50px;
   margin: 0 10px;
}

#footer .social-item img {
   filter: grayscale(1);
   transition: 0.3s ease filter;
}

#footer .social-item:hover img {
   filter: grayscale(0);
}

#footer p {
   color: white;
   font-size: 1.3rem;
}
/* End Footer Section */


/* Keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
   100% {
       color: crimson;
       font-weight: bolder;
   }
}

/* Keyframes */
